/* You can add global styles to this file, and also import other style files */
*
  font-family: Arial, sans-serif
  font-weight: normal
  margin: 0
  padding: 0

.header
  text-align: center
  padding: 50px

h1
  font-size: 50px
  padding-bottom: 50px

h2
  text-align: center
  font-size: 40px

.row
  display: flex
  margin: 10px

.col
  flex: 1

.center-text
  text-align: center


.max-width
  width: 100%
  min-width: 100%
